.topBarContainer{
    height: 70px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.logo{
    font-size: 28px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}
.icon{
    font-size: 17px;
}
.searchBar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 2px;
}
.searchIcon{
    font-size: 20px;
    margin-left: 10px;
}
.searchInput{
    border: none;
    width: 75%;
}
.searchInput:focus{
    outline: none;
}
.topBarLeft{
    flex: 3;
   
}
.topBarCenter{
    flex: 5;
    
}
.topBarRight{
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.topBarImg{
    width:40px ;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.topBarLink{
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    
}
.topBarIcon{
    display: flex;
}
.topBarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    font-size: 15px;
}
.topBarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}